.main_container {
  position: relative;
}

.container {
  width: 70%;
}

.tab_wrapper {
  width: 70%;
}

.tab_container {
  padding: 20px;
  width: 70%;
}

.sidebar_wrapper {
  border: 1px solid gray;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 25%;
}
