.page_container {
  padding-top: 70px;
  width: 100%;
}

.inner_container {
  display: flex;
  height: 100vh;
}

.image_wrapper {
  width: 60%;
  display: flex;
}

.form_container {
  flex-grow: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 100%;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .image_wrapper {
    display: none;
  }
  .form_container {
    width: 100%;
    top: 70px;
  }
}
