.section_container {
  display: flex;
  column-gap: 20px;
}

.contnet_container {
  width: 75%;
}

.cards_wrapper {
  padding: 20px;
}

.sidebar_container {
  width: 25%;
  padding: 15px;
}

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 50px;
  z-index: 100; /* Adjust as necessary */
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .contnet_container {
    width: 100%;
  }
  .cards_wrapper {
    padding: 10px 5px;
  }
  .sidebar_container {
    display: none;
  }
}
