:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffff;
}

html,
body {
  max-width: 100vw;
  font-family: sans-serif;
}

h2 {
  font-size: 16px;
  font-family: sans-serif;
  text-transform: capitalize;
}

.children_wrapper {
  margin-top: 55px;
  padding: 0px 200px;
}

.user_children_wrapper {
  margin-top: 200px;
  padding: 0px 200px;
}

.section_headingWrapper {
  margin-bottom: 20px;
}

.section_hedaing {
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 16px;
}

.section_wrapper {
  margin-bottom: 20px;
}

.single_blog_layout {
  margin: 50px 50px;
}

.user_profileLayout {
  margin: 50px 50px;
}

@media screen and (max-width: 600px) {
  .children_wrapper {
    padding: 0px 5px;
  }

  .user_children_wrapper {
    margin-top: 200px;
    padding: 0px 0px;
  }

  h2 {
    font-size: 14px;
    font-family: sans-serif;
    text-transform: capitalize;
  }

  h1 {
    font-size: 14px;
  }

  .single_blog_layout {
    margin: 5px 0px;
  }
}
